page-home {
    .wrapper {
        display: inline-flex;
        justify-content: flex-end;
        border: 10px solid lighten(#fed65a, 15%);
        transition: border-color .2s ease-in;
        &:hover {
            border: 10px solid #ef6c00;
            transition: border-color .2s ease-in;
        }
    }
    
    canvas {
        //cursor: crosshair;
    }
    
    .row {
        // margin: 10vh 5vw;
    }
}
